{"configSettings":[{"appID":"SharedServerToken","serverToken":"PPTEAI6D62AJVMGERTQVZGYN4CHRQQ5V"},{"appID":"1031981241874979","serverToken":"ZXUHUMAQDOT3FSMJ7UGRYBBN6G4H6GCQ"},{"appID":"1010360961264550","serverToken":"PPTEAI6D62AJVMGERTQVZGYN4CHRQQ5V"},{"appID":"04b6d9fc-60b7-4d9e-8473-9290b9d1243f","serverToken":""}]}